<div class="content">
	<div class="cnt-btn">
		<a href="">Free Shipping</a>
	</div>
	<div class="cnt-btn">
		<a href="">Community</a>
	</div>
	<div class="cnt-btn">
		<a href="">$1 No Reserve</a>
	</div>
	<div class="cnt-btn">
		<a href="">Ending Soon</a>
	</div>
	<div class="clear"></div>
	<div class="cnt-main">
		<div class="s_btn">
			<ul>
				<li><h2>Welcome!</h2></li>
				<li><h3><a href="login.html">Sign In</a></h3></li>
				<li><h2>Free Visit?</h2></li>
				<li><h4><a href="register.html">Register</a></h4></li>
				<div class="clear"></div>
			</ul>
		</div>
	<div class="grid">
	<div class="grid-img">
		<a href="details.html"><img src="https://i.imgur.com/zXROXme.jpg" alt=""/></a>
	</div>
	<div class="grid-para">
		<h2>Special Offer</h2>
		<h3>I need The Ipad.</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		<div class="btn top">
		<a href="details.html">Details&nbsp;<img src="images/marker2.png"></a>
		</div>
	</div>
	<div class="clear"></div>
	</div>
</div>
<div class="cnt-main btm">
	<div class="section group">
				<div class="grid_1_of_3 images_1_of_3">
					 <a href="details.html"><img src="images/pic2.png" alt=""/></a>
					 <a href="details.html"><h3>Lorem Ipsum is simply</h3></a>
					 <div class="cart-b">
					<span class="price left"><sup>$21.00</sup><sub></sub></span>
				    <div class="btn top-right right"><a href="details.html">Add to Cart</a></div>
				    <div class="clear"></div>
				 </div>
				</div>
				<div class="grid_1_of_3 images_1_of_3">
					 <a href="details.html"><img src="images/pic3.png" alt=""/></a>
					 <a href="details.html"><h3>Lorem Ipsum is simply</h3></a>
					 <div class="cart-b">
					<span class="price left"><sup>$91.00</sup><sub></sub></span>
				    <div class="btn top-right right"><a href="details.html">Add to Cart</a></div>
				    <div class="clear"></div>
				 </div>
				</div>
				<div class="grid_1_of_3 images_1_of_3">
					 <a href="details.html"><img src="images/pic8.png" alt=""/></a>
					 <a href="details.html"><h3>Lorem Ipsum is simply</h3></a>
					 <div class="cart-b">
					<span class="price left"><sup>$62.00</sup><sub></sub></span>
				    <div class="btn top-right right"><a href="details.html">Add to Cart</a></div>
				    <div class="clear"></div>
				 </div>
				</div>
				<div class="grid_1_of_3 images_1_of_3">	
					 <a href="details.html"><img src="images/pic4.png" alt=""/></a>
					 <a href="details.html"><h3>Lorem Ipsum is simply</h3></a>
					 <div class="cart-b">
					<span class="price left"><sup>$92.00</sup><sub></sub></span>
				    <div class="btn top-right right"><a href="details.html">Add to Cart</a></div>
				    <div class="clear"></div>
				 </div>
				</div>
				<div class="grid_1_of_3 images_1_of_3">
					 <a href="details.html"><img src="images/pic1.png" alt=""/></a>
					 <a href="details.html"><h3>Lorem Ipsum is simply</h3></a>
					 <div class="cart-b">
					<span class="price left"><sup>$12.00</sup><sub></sub></span>
				    <div class="btn top-right right"><a href="details.html">Add to Cart</a></div>
				    <div class="clear"></div>
				 </div>
				</div>
				<div class="grid_1_of_3 images_1_of_3">
					 <a href="details.html"><img src="images/pic6.png" alt=""/></a>
					 <a href="details.html"><h3>Lorem Ipsum is simply</h3></a>
					 <div class="cart-b">
					<span class="price left"><sup>$63.00</sup><sub></sub></span>
				    <div class="btn top-right right"><a href="details.html">Add to Cart</a></div>
				    <div class="clear"></div>
				 </div>
				</div>
				<div class="grid_1_of_3 images_1_of_3">
					 <a href="details.html"><img src="images/pic5.png" alt=""/></a>
					 <a href="details.html"><h3>Lorem Ipsum is simply</h3></a>
					 <div class="cart-b">
					<span class="price left"><sup>$86.00</sup><sub></sub></span>
				    <div class="btn top-right right"><a href="details.html">Add to Cart</a></div>
				    <div class="clear"></div>
				 </div>
				</div>
				<div class="grid_1_of_3 images_1_of_3">
					 <a href="details.html"><img src="images/pic7.png" alt=""/></a>
					 <a href="details.html"><h3>Lorem Ipsum is simply</h3></a>
					 <div class="cart-b">
					<span class="price left"><sup>$61.00</sup><sub></sub></span>
				    <div class="btn top-right right"><a href="details.html">Add to Cart</a></div>
				    <div class="clear"></div>
				 </div>
				</div>
				<div class="grid_1_of_3 images_1_of_3">
					 <a href="details.html"><img src="images/pic9.png" alt=""/></a>
					 <a href="details.html"><h3>Lorem Ipsum is simply</h3></a>
					 <div class="cart-b">
					<span class="price left"><sup>$22.00</sup><sub></sub></span>
				    <div class="btn top-right right"><a href="details.html">Add to Cart</a></div>
				    <div class="clear"></div>
				 </div>
				</div>
		
			</div>
</div>
</div>